
<div>
    <h2> PAGINA INICIO </h2>
    <br>
    <div class="usuario">
        <h3 class="alert alert-info" role="alert">¡Bienvenido {{nombre}}, estas registrado con el email: {{usuario}}, ¡Esperamos que disfrutes de tu estadía en nuestra pagina!</h3>
        <br>
        <div>
            <h3> DATOS DEL USUARIO: </h3>
            <ul>        
                <img src="/{{avatar}}" width="160" height="160">
                <li>Nombre: {{nombre}}</li>
                <li>Email: {{usuario}}</li>
                <li>Edad: {{edad}}</li>
                <li>Telefono: {{telefono}}</li>
                <li>Direccion: {{direccion}}</li>
            </ul>
        </div>
        <br>
        <div>
            <button class="btn btn-danger" onclick="location.href='/api/autenticacion/logout'">Cerrar Sesion</button>
            <br>
            <button class="btn btn-secondary" onclick="location.href='/api/carrito/compra'">Ir a pagina de Carrito</button>
        </div>
    </div>
</div>
